table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #3A5743;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

th, td {
  padding: 20px;
  border: 2px solid #3A5743;
}
