.container{
  width: 70%;
  margin: 15%;
  margin-top: 100px;
  padding: 20px;
  background-color: #B4C4AE;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0, .8);
  color: #312F2F;
}

.new-employee, label, input{
  margin: 5px;
}

label{
  font-weight: bold;
}

.btn-submit{
  cursor: pointer;
}
